@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cairo;
    scroll-behavior: smooth;
}

:root{
    --navy:#475c72;
    --white:#ffffff;
    --lightGreen:#1abc9c;
    --red:#ff0000;
    --lightGray:#c5bfbf;
}
a{
    text-decoration: none;
    color: var(--white);
}

/* start header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0px 100px;
    color: var(--white);
    background-color: var(--navy);
    border-top: solid var(--red) 4px;
}
header a{
    margin-right: 10px;
    
    font-size: 22px;
    transition: ease .5s;
}
header a:hover{
    color: var(--lightGreen);
    font-size: 24px;
}
/* end header */


/* cursor section */
.cursor{
    background-image: url(images/flowers.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    padding: 0 100px;
}
.cursor span{
    color: var(--red);
}
.cursor a{
    padding: 10px;
    background-color: var(--lightGreen);
    border-radius: 10px;
    display: inline-block;
    margin-top: 10px;
    transition: .5s;
   
}
.cursor a:hover{
    background-color: var(--navy);
    transform: scale(1.1);
}
/* end cursor section */


/* start services section */
.services h2{
    text-align: center;
}
.services .container{
    display: flex;
    justify-content:center;
    gap: 15px;
    padding: 0px 100px;
    flex-wrap: wrap;
}
.services .card{
    width: 25em;
    text-align: center;
    box-shadow: 3px 3px 6px 6px var(--lightGray);
    padding: 5px;
}
.services i{
    font-size: 2rem;
    color: var(--navy);
}
.services h3{
    color: var(--red);
    font-weight: 1000;
}
/* end services section */

/* start portofolio section */
.portofolio{
    background-color: var(--navy);
   margin:  20px 0px;
   text-align: center;
}
.portofolio h2{
    display: inline-block;
       
    color: var(--white);
    border-bottom: 3px solid var(--red);

}
.portofolio .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 100px;
    gap: 15px;
}
.portofolio .card{
    width: 25em;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--white);
}
.portofolio img{
    width: 100%;
    /* object-fit: cover; */
}
.portofolio .card-desc{
    padding: 0px 5px 8px;
    display: flex;
    justify-content: space-between;
    align-items:end ;
    text-align: justify;
    line-height: 1.3;
    font-weight: 900;
}
.portofolio p{
    
    /* width: 60%; */
}
.portofolio a{
    background-color: var(--lightGreen);
    display: inline-block;
    padding:0px 10px;
    margin-top: 5px;
    border-radius: 10px;
    flex-shrink: 0;
    transition: .5s;
}
.portofolio a:hover{
    transform: scale(1.3);
    margin-right: 15px;
}


/* end portofolio section */

/* start notilla section  */
.notilla{
    padding: 50px 100px;
}
.notilla .container{
    padding: 30px 100px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    direction: rtl;
    gap: 15px;
}
.notilla .content{
    width: 50%;
    
}
.notilla h3{
    color: var(--red);
}
.notilla .image{
  /* border: 2px solid; */
  
  width: 38%;
  box-shadow: 2px 2px 10px var(--lightGray);
} 
.notilla img{
    width: 100%;
  
}
.notilla .dir-left{
    direction: ltr !important;
}
 /* end notilla section  */
 /* start about section  */
 .about{
    background-image: url(images/flowers.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    min-height: 60vh;
    padding: 50px 100px;
    text-align: center;
   
 }
 .about h2{
    display: inline;
    color: var(--white);
    border-bottom: 2px solid var(--white);
 }
.about .content{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
 }
 .about img{
    border: 2px solid var(--white);
   border-radius: 50%;
   width: 20em;
 }
 /* end about section  */

 /* start footer section */
 footer{
    background-color: var(--navy);
    color: var(--white);
    padding: 10px;
    text-align: center;
 }
 /* end footer section */

/* start map section */
.map{
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.map div{
    width: 70%;
    box-shadow: 10px 10px 10px var(--lightGreen),-10px -10px 10px var(--lightGreen);
    padding: 50px;
}
.map iframe{
    width: 100%;
}
/* end map section */

/* start contact section */
.contact{
background: linear-gradient(var(--navy),var(--lightGreen));
padding: 20px 100px;
text-align: center;
}
.contact h2{
    text-align: center;
}
.contact form div{
    display: flex;
    width: 100%;
    gap:10px
}
.contact form div >div{
    position: relative;
}
.contact form input:not(input[type="submit"]){
    border: none;
    outline: none;
    padding:10px 5px;
    margin-bottom: 10px;
    width: 100%;
    transition: .5s;
}
.contact form label{
    position: absolute;
    left: 10px;
    /* top: 10px; */
}
.contact form input:hover ~label,.contact form input:valid ~label{
    
   transform: translateY(-10px);
}

.contact input[type="submit"]{
    padding:0px 10px;
    background-color:var(--navy);
    color: var(--white);
    border: none;
    border-radius: 10px;
}
/* end contact section */

.arrow{
    background-color: var(--red);
    width: 40px;
    color: var(--white);
    padding: 2px 9px;
    /* height: 100px; */
    border-radius: 50%;
    position: fixed;
    bottom: 60px;
    right: 10px;
   
}
.arrow i{
    font-size: 30px;
    display: inline-block;
    /* color: var(--white); */
}


 /* scroll */
 ::-webkit-scrollbar {
    width: 10px;
  } 
 ::-webkit-scrollbar-track {
    background: var(--white); 
  }
   
  ::-webkit-scrollbar-thumb {
    background-color: var(--red); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--navy); 
  }
